body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: lightgrey;
}

h1 {
    margin-top: 0;
}

#useable-area {
    background-color: #00000030;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
}

.no-display {
    display: none;
}
